@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collapse {
    margin: 0 100px;
}

.carousel-item img {
    max-width: 100%;
    max-height: 650px;
}

#carouselExampleCaptions {
    margin: 0 100px;
}

main {
    background-color: black;
}

main .search {
    margin: -5px 100px;
    display: flex;
    position: relative;

}

main #input {
    width: 100%;
    border-radius: 10px;
}

.container-card {
    margin: 20px 100px 150px 100px;
}

footer {
    margin: 0 0;
    background-color: green;
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* movies-card */
.movies-card {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.movies-card img {
    width: 200px;
    border-radius: 10px;
}

.movies-card img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.card-items {
    padding: 5px;
}

h3, h4, h5 {
    color: white;
}

.titleSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: white ridge 2px;
    font-weight: 200;
}

.titleSearch:hover {
    cursor: pointer;
    font-weight: bold;
}

/* search value */
#searchValue {
    margin: 50px 100px 50px 100px;
}

.titleSearchValue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: white ridge 2px;
    margin-right: 10px;
    border-right-style: dashed;
}

.jumbotron {
    margin: auto 100px;
    border-radius: 10px;
    display: flex;
}

